<%inherit file="layout.mako" />
<h1>Master's Programme in Computer Science and Mathematics</h1>

<p>The Master's Degree in Computer Science and Mathematics at the University of
Ljubljana is a second cycle Bologna degree with 120 ECTS. It is run jointly by
the Department of Mathematics and the Faculty of Computer and Information
Science. To enrol, you need a first cycle Bologna degree (or equivalent) in
Mathematics, Computer Science or a related field.</p>

<h2>Courses</h2>
<p>The Department of Mathematics and the Faculty of Computer and Information
Science offer a wide selection of semester-long courses, and you are free to
select the ones that suit your background and goals. The compulsory courses are
Programming and Algorithms. You also need to select at least 7 pure mathematics
or computer science courses offered by the Department of Mathematics, and at
least 5 other courses offered by the Faculty of Computer and Information
Science. Two courses can be selected from other Master's level programmes
offered by the University of Ljubljana.</p>
<p><a href="courses.html">Here</a> is a list of all the courses we are offering
in the academic year 2015/16, and a list of all Master's level courses.</p>
<p>Students typically choose 5 courses in the first two semesters, 4 courses in
the third semester, and 3 in the fourth semester. Most courses have 3 hours a
week of lectures and 2 hours a week of problem sessions.  </p>

<h2>Thesis</h2> <p>All students have to write a Master's thesis, an exposé of a
chosen topic on roughly 50 pages. The student picks an advisor, who helps him
or her choose the topic and ensures that the thesis is up to the standards
required by the department. The thesis can also be submitted in English.  </p>
