<%inherit file="layout.mako" />
<%block name="title"> &ndash; Courses</%block>

<h1>Courses</h1>

<h2>Courses in the academic year 2015/16</h2>
<dl>
  <dt>Analysis:</dt>
  <dd>Measure Theory, Dynamical Systems, Complex Analysis, Fluid
  Mechanics*</dd>
  <dt>Algebra and Discrete Mathematics:</dt>
  <dd>Order Structures*, Combinatorics, Applied Discrete Mathematics,
  Logic</dd>
  <dt>Geometry and Topology:</dt>
  <dd>Algebraic Topology 2, Convexity, Lie Groups</dd>
  <dt>Numerical Mathematics:</dt>
  <dd>Numerical Approximation and Interpolation, Iterative Numerical
  Methods in Linear Algebra, Numerical Solutions of Partial Differential
  Equations</dd>
  <dt>Probability, Statistics and Financial Mathematics:</dt>
  <dd>Probability 2, Financial Mathematics 2, Statistics 2, Topics in
  Financial Mathematics 1, Actuarial Mathematics (Non-Life Insurance),
  Time Series</dd>
  <dt>Computer Science and Mathematics:</dt>
  <dd>Alternative Computing Models, Data Mining and Machine Learning,
  Complexity, Theory of Programming Languages, Logic in Computer Science,
  Probability Methods in Computer Science</dd>
  <dt>Other:</dt>
  <dd>Modern Physics</dd>
  <dt>Faculty of Computer and Information Science courses (for
    Computer Science and Mathematics students):</dt>
  <dd>Current Research Topics (Introduction to Network Analysis), Current
  Research Topics (Mobile and Ubiquitous Computing), Current Research
  Topics (Modelling and Simulation of Group Behaviour/Computer Science
  Methods in Synthetic and System Biology), Current Research Topics
  (Algorithm Engineering/Semirings and Their Applications in Computer
  Science), Current Research Topics (Advances Method in Computer Vision),
  Current Research Topics (Software-Defined Wireless Systems), Current
  Research Topics (Applied Bayesian Statistics), Digital Signal
  Processing, Information Security and Privacy, Interaction and
  Information Design, Topics in Computer and Information Science (Tools
  for Large Database Analysis), Computability and Computational
  Complexity, Unconventional Computing, Biomedical Signal and Image
  Processing, Data Mining, Digital Forensics, Computer-based Sound
  Production, Computer Systems, Modern Software Development Methods,
  Machine Learning, Theory of Programming Languages, Artificial
  Intelligence, Introduction to Bioinformatics</dd>
  <dt>Faculty of Economics courses (for Financial Mathematics
    students):</dt>
  <dd>Taxes and Tax Harmonization in EU, Econometrics 2,
  Economics of The Labour Market, Economic Policy of EU, Financial Analysis 2,
  Financial Economics, Public Finance, Quantitative Behavioural Finance,
  Macroeconomics 3, Management of Financial Institutions 2, International
  Finance 2, Microeconomics 3, Asset Pricing Models, Risk Management, Business
  Finance 2, Theory of Information and Contracts in Finance</dd>
</dl>
<p>Courses marked with an asterisk are offered as reading courses.</p>

<h2>All courses</h2>
<dl>
  <dt>Analysis:</dt>
  <dd>Measure Theory, Introduction to Functional
  Analysis, Functional Analysis, Introduction to C*-algebras, Operator
  Theory, Introduction to Harmonic Analysis, Special Functions,
  Partial Differential Equations, Complex Analysis, Analytical Mechanics,
  Continuum Mechanics, Fluid Mechanics, Mechanics of Deformable Solids,
  Dynamical Systems, Mathematics in Industry</dd>
  <dt>Algebra and Discrete Mathematics:</dt>
  <dd>Commutative Algebra, Non-Commutative Algebra, Non-Associative
  Algebra, Order Structures, Theory of Groups and Subgroups, Number
  Theory, Combinatorics, Graph Theory, Cardinal Arithmetic, Topics in
  Discrete Mathematics 1, Topics in Discrete Mathematics 2, Applied
  Discrete Mathematics, Logic</dd>
  <dt>Geometry and Topology:</dt>
  <dd>Analysis on Manifolds, Introduction to Algebraic Geometry,
  Convexity, Algebraic Topology 1, Algebraic Topology 2, Differential
  Geometry, Lie Groups, Riemann Surfaces</dd>
  <dt>Numerical Mathematics:</dt>
  <dd>Numerical Integration and Ordinary Differential Equations,
  Numerical Solutions of Partial Differential Equations, Iterative
  Numerical Methods in Linear Algebra, Computer Aided (Geometric) Design,
  Numerical Approximation and Interpolation, Numerical Methods for Linear
  Control Systems</dd>
  <dt>Probability, Statistics and Financial Mathematics:</dt>
  <dd>Probability 2, Statistics 2, Bayesian Statistics, Financial Mathematics
  2, Econometrics, Stochastic Processes 2, Stochastic Processes 3,
  Actuarial Mathematics, Modelling with Stochastic Processes, Topics in
  Game Theory, Topic in Financial Mathematics 1, Topic in Financial
  Mathematics 2, Optimization in Finance, Time Series, Riesz Spaces in
  Financial Mathematics, Numerical Methods in Financial Mathematics,
  Financial Mathematics 3</dd>
  <dt>Computer Science and Mathematics:</dt>
  <dd>Mathematics with Computers, Computability Theory, Computational
  Complexity, Topics in Computer Science, Topics in Optimization,
  Optimization 2, Data Structures and Algorithms 3, Alternative Computing
  Models, Data Mining and Machine Learning, Complexity, Theory of
  Programming Languages, Logic in Computer Science, Probability Methods
  in Computer Science, Data Analysis and Visualisation, Computational
  Topology</dd>
  <dt>Other:</dt>
  <dd>Astronomy, Theoretical Physics, Modern Physics,
  Mathematical Models in Biology</dd>
  <dt>Faculty of Computer and Information Science courses (for
    Computer Science and Mathematics students):</dt>
  <dd>Current Research Topics, Digital Signal Processing, Information
  Security and Privacy, Interaction and Information Design, Topics in
  Computer and Information Science, Computability and Computational
  Complexity, Soft Computing and Natural Algorithms, Unconventional
  Computing, Biomedical Signal and Image Processing, Data Mining,
  Teaching Algorithmic Thinking, Digital Forensics, Computer-based Sound
  Production, Cloud Computing, Computer Systems, Modern Software
  Development Methods, Web Information Extraction and Retrieval, Machine
  Learning, Theory of Programming Languages, Artificial Intelligence,
  Introduction to Bioinformatics, Perception in Cognitive Systems</dd>
  <dt>Faculty of Economics courses (for Financial Mathematics
    students):</dt>
  <dd>Taxes and Tax Harmonization in EU, Econometrics 2, Econometrics of
  Time Series and Panel Data, Economics of The Labour Market, Economic
  integrations and EU, Economic Policy of EU, Financial Analysis 2,
  Financial Economics, Public Finance, Quantitative Behavioural Finance,
  Macroeconomics 3, Management of Financial Institutions 2, International
  Finance 2, Microeconomics 3, Models of Monetary Policy, Asset Pricing
  Models, Risk Management, Business Finance 2, General Insurance, Theory
  of Financial Brokerage, Theory of Information and Contracts in Finance,
  Asset and Liability Management, Insurance Finance, Merges and
  Acquisitions, Life and Retirement Insurance</dd>
</dl>
